SUPABASE_URL=https://fmpmgilgvvfezursmyic.supabase.co
SUPABASE_SERVICE_KEY=
ENCRYPTION_KEY=b5907960d381532624b595546dca17324927207ad85f7f89a8021b45bec75361
LINE_CHANNEL_ACCESS_TOKEN=
OSAMU_LINE_USER_ID=
PORT=80
SYNC_API_KEY=your-secure-sync-api-key-here
